<!--
The following levels are defined in order of increasing priority:
  - ALL
  - DEBUG
  - INFO
  - WARN
  - ERROR
  - FATAL
  - OFF
-->
<log4net>
    <root>
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="[%d{HH:mm:ss} %level]: %m%n" />
        </layout>
        <!-- the priority list is above  -->
        <filter type="log4net.Filter.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="logs/nitrox-.log" />
        <appendToFile value="false" />
        <rollingStyle value="Date" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="10MB" />
        <datePattern value="yyyy-MM-dd" />
        <staticLogFileName value="false" />
        <preserveLogFileNameExtension value="true" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="[%d{HH:mm:ss} %level]: %m%n" />
        </layout>
        <!-- the priority list is above  -->
        <filter type="log4net.Filter.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>
</log4net>