<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets async="true">
    <target name="logfile" xsi:type="File"
      fileName="${basedir}/Nitrox Logs/nitrox.log"
      archiveFileName="${basedir}/archives/nitrox.{#}.log"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      layout="${longdate}|${level:uppercase=true}|${message}${exception}" />
    <target name="logconsole" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${message}${exception}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
  
</nlog>