<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="${basedir}/logfile.txt" layout="---${newline}${longdate}|${level:uppercase=true}|${message}|${exception}|${newline}${stacktrace}" />
    <target name="logconsole" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${message}|${exception}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
  
</nlog>