<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="MaxConnections" value="100" />
        <add key="Port" value="11000" />
        <add key="SaveInterval" value="60000" />
        <add key="GameMode" value="Survival" />
        <add key="DisableConsole" value="false" />
        <add key="ServerPassword" value="" />
        <add key="AdminPassword" value="" />
        <add key="SaveName" value="world" />
        <add key="StartOxygen" value="45" />
        <add key="StartMaxOxygen" value="45" />
        <add key="StartHealth" value="80" />
        <add key="StartFood" value="50.5" />
        <add key="StartWater" value="90.5" />
        <add key="StartInfection" value="0" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
