<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <runtime>
        <!-- This is required so that assembly loading won't throw error for unsigned assemblies. -->
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="lib" />
            <dependentAssembly>
                <assemblyIdentity name="Mono.Cecil" publicKeyToken="50cebf1cceb9d05e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-0.10.4.0" newVersion="0.10.4.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
