<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="MaxConnections" value="100"/>
        <add key="DefaultPortNumber" value="11000"/>
        <add key="SaveInterval" value="60000"/>
        <add key="GameMode" value="Survival"/>
        <add key="DisableConsole" value="false"/>
    </appSettings>
</configuration>
