<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="MaxConnections" value="100"/>
        <add key="Port" value="11000"/>
        <add key="SaveInterval" value="60000"/>
        <add key="GameMode" value="Survival"/>
        <add key="DisableConsole" value="false"/>
        <add key="ServerPassword" value=""/>
        <add key="AdminPassword" value=""/>
        <add key="SaveName" value="save"/>
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="lib;libs;uwe_lib" />
        </assemblyBinding>
    </runtime>
</configuration>
