name: Building Nitrox Pull Request

on: pull_request

jobs:
  build:
    runs-on: windows-latest
    if: github.event.pull_request.draft == false
    
    steps:
    - name: Checking out repository
      uses: actions/checkout@v2
    - name: Download Subnautica files
      run: |
          ./.github/depotDownloader/QXCTF.exe
    - name: Setup Nuget.exe
      uses: warrenbuckley/Setup-Nuget@v1
    - name: Restore packages
      run: nuget restore Nitrox.sln
    - name: Setup MSBuild
      uses: warrenbuckley/Setup-MSBuild@v1
    - name: Build with MSBuild
      run: msbuild Nitrox.sln -p:Configuration=Release
    - name: Uploading zipped launcher
      uses: actions/upload-artifact@v2-preview
      with:
        name: release
        path: ./NitroxLauncher/bin/Release/{NitroxLauncher.exe*,AssetBundles/,lib/}
